* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #e5e5e5;
    /* height: 1930px; */
}

body::before {
    content: '';
    width: 100%;
    height: 380px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(45, 45, 57);
}

.page {
    width: 100%;
    margin: 0 auto;
}

nav {
    padding: 2rem 0 0 0;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    align-items: center;
}

ul a img {
    width: 250px;
}

/* BUTTON MODAL */

.contactButton {
    cursor: pointer;
    background: rgb(250, 182, 18);
    color: white;
    font-family: inherit;
    padding: 0.45em;
    padding-left: 1em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #000;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3em;
    transition: all 0.3s;
    width: 160px;
    margin-top: 50px;
}

.iconButton {
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #000;
    right: 0.3em;
    transition: all 0.5s;
}

.contactButton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #000;
}

.contactButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #000;
}

/* CARDS */

.cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    align-items: center;
}

.cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 260px;
    padding: 20px 1px;
    margin: 10px 0;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 15px -3px #000, 0 4px 6px -4px #000;
    border-radius: 10px;
    /* background-color: #6b6ecc; */
    background: rgb(60, 60, 73);
}

.cards .content {
    padding: 20px;
}

.cards .content .icon img {
    width: 80px;
    filter: invert(100%);
}

/* .cards .content .price {
    color: white;
    font-weight: 800;
    font-size: 50px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
} */

.cards .content .description {
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
}

.cards .content .title {
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
}

/* BUTTON CARD */

.card .cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.5em 0.8em 1.2em;
    color: white;
    background: rgb(250, 182, 18);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #000;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    text-decoration: none;

    transition: background 0.3s;
}

.card .cssbuttons-io-button:hover {
    background: #ae841a;
}

.card .cssbuttons-io-button svg {
    margin-right: 8px;
}

.card .cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #000;
}

.card .cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #000;
}

/* MODAL */

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.modal-wrapper {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);

    display: grid;
    place-content: center;

    opacity: 0;
    visibility: hidden;
}

.modal {
    position: relative;
    background-color: #1d1929;
    width: 20rem;
    height: 50rem;

    text-align: center;
}

.modal button {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    background: none;
    border: none;

    cursor: pointer;
    transition: transform 0.3s;

    box-shadow: none;
}

.modal button:hover {
    transform: scale(1.1);
}

.modal img {
    width: 2.4rem;
    height: 2.4rem;
    color: #fff;
}

.modal h2 {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}

.box {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.modal h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
}

.modal a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    padding: 1rem 0;
    cursor: pointer;
    font-size: 2rem;

    transition: color 0.3s;
}

.modal a:hover {
    color: #a9d03f;
}

.modal i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 379px) {

    .modal img {
        width: 1.7rem;
        height: 1.7rem;
        color: #fff;
    }
    .modal button {

        top: 1rem;
        right: 1rem;

    }
    .modal {
        position: relative;
        background-color: #1d1929;
        width: 17rem;
        height: 40rem;
    
        text-align: center;
    }
    
    .modal h2 {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
    }
    
    .box {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }
    
    .modal h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #fff;
    }
    .modal a {

        font-size: 1.3rem;

    }
}

@media (min-width: 380px){
    .modal img {
        width: 1.5rem;
        height: 1.5rem;
        color: #fff;
    }
    .modal button {

        top: 1rem;
        right: 1rem;

    }
    .modal {
        position: relative;
        background-color: #1d1929;
        width: 20rem;
        height: 45rem;
    
        text-align: center;
    }
    
    .modal h2 {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: bold;
        color: #fff;
    }
    
    .box {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }
    
    .modal h3 {
        font-size: 1.8rem;
        margin-top: 1rem;

    }
    .modal a {
        font-size: 1.5rem;
    }
}

@media (min-width: 900px) {
    body::before {
        height: 250px;
    }

    .page {
        width: 1200px;
        height: auto;
        justify-content: flex-start;
    }
    nav {
        align-items: center;
        justify-content: center;
    }

    .contactButton {
        margin-top: 0;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin-top: 10px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 30px;
    }
}

@media (min-width: 1120px) {
    .modal-wrapper.open {
        opacity: 1;
        visibility: visible;
        z-index: 999;
    }
    
    .modal-wrapper {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.7);
    
        display: grid;
        place-content: center;
    
        opacity: 0;
        visibility: hidden;
    }
    
    .modal {
        position: relative;
        background-color: #1d1929;
        width: 80rem;
        height: 35rem;
    
        text-align: center;
    }
    
    .modal button {
        position: absolute;
        top: 2rem;
        right: 2rem;
        background: none;
        border: none;
    
        cursor: pointer;
        transition: transform 0.3s;
    
        box-shadow: none;
    }
    
    .modal button:hover {
        transform: scale(1.1);
    }
    
    .modal img {
        width: 2.4rem;
        height: 2.4rem;
        color: #fff;
    }
    
    .modal h2 {
        margin-top: 2rem;
        font-size: 3rem;
        font-weight: bold;
        color: #fff;
    }
    
    .box {
        margin-top: 8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .modal h3 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        width: 20rem;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #fff;
    }
    
    .modal a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #fff;
        padding: 1rem 0;
        cursor: pointer;
        font-size: 2rem;
    
        transition: color 0.3s;
    }
    
    .modal a:hover {
        color: #a9d03f;
    }
    
    .modal i {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
}

@media (min-width: 1400px) {
    body::before {
        content: '';
        width: 100%;
        height: 420px;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin-top: 50px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: 120px;
    }
    
/* MODAL */

.modal-wrapper.open {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.modal-wrapper {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);

    display: grid;
    place-content: center;

    opacity: 0;
    visibility: hidden;
}

.modal {
    position: relative;
    background-color: #1d1929;
    width: 100rem;
    height: 50rem;

    text-align: center;
}

.modal button {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    background: none;
    border: none;

    cursor: pointer;
    transition: transform 0.3s;

    box-shadow: none;
}

.modal button:hover {
    transform: scale(1.1);
}

.modal img {
    width: 2.4rem;
    height: 2.4rem;
    color: #fff;
}

.modal h2 {
    margin-top: 2rem;
    font-size: 5.4rem;
    font-weight: bold;
    color: #fff;
}

.box {
    margin-top: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modal h3 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    width: 20rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
}

.modal a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    padding: 1rem 0;
    cursor: pointer;
    font-size: 2rem;

    transition: color 0.3s;
}

.modal a:hover {
    color: #a9d03f;
}

.modal i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
}
